.gallery {
    max-width: 1184px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    padding-left: 48px;
    padding-right: 48px;
}

.gallery__item {
    max-width: 352px;
    max-height: 264px;
}

@media screen and (max-width: 1440px) {
  .gallery{
    max-width: 1024px;
    max-height: 1104px;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 150px;
  }
}

@media screen and (max-width: 1024px) {
    .gallery {
      max-width: 720px;
      max-height: 1104px;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
    }
  }
  
@media screen and (max-width: 544px) {
    .gallery {
      max-width: 288px;
      max-height: 1812px;
      grid-gap: 12px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .gallery__item {
      width: 100%;
    }
  }